<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html class="supernova">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f7ed99c2c2c7240ba580251" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.30000" />
    <link type="text/css" rel="stylesheet"
        href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.30000" />
    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */
        .form-all {
            border: 5px solid;
            border-image-slice: 1;
            border-width: 10px;
            border-image-source: linear-gradient(to left, #f3574b, #333333);
        }
    </style>

    <form class="jotform-form" action="https://submit.jotform.com/submit/220063598410451/" method="post"
        name="form_220063598410451" id="220063598410451" accept-charset="utf-8" autocomplete="on">
        <input type="hidden" name="formID" value="220063598410451" />
        <input type="hidden" id="JWTContainer" value="" />
        <input type="hidden" id="cardinalOrderNumber" value="" />
        <div role="main" class="form-all">
            <ul class="form-section page-section">
                <li id="cid_22" class="form-input-wide" data-type="control_head">
                    <div style="display:table;width:100%">
                        <div class="form-header-group hasImage header-default" data-imagealign="Left">
                            <div class="header-logo">
                                <img src="https://www.jotform.com/uploads/utkuyildirim/form_files/Screen%20Shot%202020-12-08%20at%2011.53.28.5fcf5bf9415a57.30431619.png"
                                    alt="" width="50" class="header-logo-left" />
                            </div>
                            <div class="header-text httal htvam">
                                <h2 id="header_22" class="form-header" data-component="header">
                                    Product Order Form
                                </h2>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="form-line" data-type="control_square" id="id_20" data-payment="true">
                    <label class="form-label form-label-top search-enabled p-filter-one-column" id="label_20"
                        for="input_20"> Products </label>
                    <div id="cid_20" class="form-input-wide" data-layout="full">
                        <div data-wrapper-react="true" class="square-payment-wrapper" data-square-currency="USD">
                            <div data-wrapper-react="true" class="product-container-wrapper">
                                <div class="filter-container">
                                    <input type="text" name="productSearch-input" class="form-textbox"
                                        id="productSearch-input" size="15" placeholder="Search" autoComplete="off" />
                                </div>
                                <div id="image-overlay" class="overlay-content" style="display:none">
                                    <img id="current-image" />
                                    <span class="image-overlay-product-container">
                                        <ul class="form-overlay-item" pid="1001" hasicon="false" hasimages="true"
                                            iconvalue="">
                                            <li class="image-overlay-image">
                                                <img
                                                    src="https://www.jotform.com/uploads/utkuyildirim/form_files/Screen Shot 2020-12-08 at 10.47.46.png" />
                                            </li>
                                            <li class="image-overlay-image">
                                                <img
                                                    src="https://www.jotform.com/uploads/utkuyildirim/form_files/blank-1976334_1280.png" />
                                            </li>
                                        </ul>
                                        <ul class="form-overlay-item" pid="1002" hasicon="false" hasimages="true"
                                            iconvalue="">
                                            <li class="image-overlay-image">
                                                <img
                                                    src="https://www.jotform.com/uploads/utkuyildirim/form_files/t-shirt-3995093_1280.png" />
                                            </li>
                                        </ul>
                                        <ul class="form-overlay-item" pid="1003" hasicon="false" hasimages="true"
                                            iconvalue="">
                                            <li class="image-overlay-image">
                                                <img
                                                    src="https://www.jotform.com/uploads/utkuyildirim/form_files/Screen Shot 2020-12-08 at 11.01.35.png" />
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                                <div data-wrapper-react="true">
                                    <span
                                        class="form-product-item hover-product-item  show_image show_desc show_option new_ui"
                                        categories="non-categorized" pid="1001" aria-labelledby="label_20">
                                        <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                                            
                                            <div class="p_image">
                                                <div role="img" aria-label="White T-Shirt"
                                                    class="image_area form-product-image-with-options"
                                                    style="background-image:url(&quot;https://www.jotform.com/uploads/utkuyildirim/form_files/Screen%20Shot%202020-12-08%20at%2010.47.46.png&quot;)">
                                                    <div class="image_zoom">
                                                    </div>
                                                </div>
                                            </div>
                                            <div for="input_20_1001" class="form-product-container">
                                                <span data-wrapper-react="true">
                                                    <div class="title_description">
                                                        <span class="form-product-name" id="product-name-input_20_1001">
                                                            White T-Shirt
                                                        </span>
                                                        <span class="form-product-description"
                                                            id="product-name-description-input_20_1001">
                                                            Simple Design. 100% Organic Cotton.
                                                        </span>
                                                    </div>
                                                    <span class="form-product-details">
                                                        <b>
                                                            <span data-wrapper-react="true">
                                                                $
                                                                <span id="input_20_1001_price">
                                                                    30.00
                                                                </span>
                                                            </span>
                                                        </b>
                                                    </span>
                                                </span>
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_20_quantity_1001_0"
                                                        style="min-height:13px" aria-hidden="false"> Quantity </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q20_products[special_1001][item_0]"
                                                            id="input_20_quantity_1001_0">
                                                            <option value="1"> 1 </option>
                                                            <option value="2"> 2 </option>
                                                            <option value="3"> 3 </option>
                                                            <option value="4"> 4 </option>
                                                            <option value="5"> 5 </option>
                                                            <option value="6"> 6 </option>
                                                            <option value="7"> 7 </option>
                                                            <option value="8"> 8 </option>
                                                            <option value="9"> 9 </option>
                                                            <option value="10"> 10 </option>
                                                        </select>
                                                    </span>
                                                </span>
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_20_custom_1001_1"
                                                        style="min-height:13px" aria-hidden="false"> Size </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q20_products[special_1001][item_1]"
                                                            id="input_20_custom_1001_1">
                                                            <option value="XS"> XS </option>
                                                            <option value="S"> S </option>
                                                            <option value="M"> M </option>
                                                            <option value="L"> L </option>
                                                            <option value="XL"> XL </option>
                                                            <option value="XXL"> XXL </option>
                                                            <option value="XXXL"> XXXL </option>
                                                        </select>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </span>
                                    <div class="p_item_separator ">
                                    </div>
                                    <span
                                        class="form-product-item hover-product-item  show_image show_desc show_option new_ui"
                                        categories="non-categorized" pid="1002" aria-labelledby="label_20">
                                        <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                                            <div class="p_col">
                                                <div class="p_checkbox">
                                                    <input type="checkbox" class="form-checkbox  form-product-input"
                                                        id="input_20_1002" name="q20_products[][id]" value="1002" />
                                                    <div class="checked">
                                                    </div>
                                                    <div class="select_border">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p_image">
                                                <div role="img" aria-label="Sweatshirt"
                                                    class="image_area form-product-image-with-options"
                                                    style="background-image:url(&quot;https://www.jotform.com/uploads/utkuyildirim/form_files/t-shirt-3995093_1280.png&quot;)">
                                                    <div class="image_zoom">
                                                    </div>
                                                </div>
                                            </div>
                                            <div for="input_20_1002" class="form-product-container">
                                                <span data-wrapper-react="true">
                                                    <div class="title_description">
                                                        <span class="form-product-name" id="product-name-input_20_1002">
                                                            Sweatshirt
                                                        </span>
                                                        <span class="form-product-description"
                                                            id="product-name-description-input_20_1002">
                                                            Smooth Rainbow Colors.
                                                        </span>
                                                    </div>
                                                    <span class="form-product-details">
                                                        <b>
                                                            <span data-wrapper-react="true">
                                                                $
                                                                <span id="input_20_1002_price">
                                                                    100.00
                                                                </span>
                                                            </span>
                                                        </b>
                                                    </span>
                                                </span>
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_20_quantity_1002_0"
                                                        style="min-height:13px" aria-hidden="false"> Quantity </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q20_products[special_1002][item_0]"
                                                            id="input_20_quantity_1002_0">
                                                            <option value="1"> 1 </option>
                                                            <option value="2"> 2 </option>
                                                            <option value="3"> 3 </option>
                                                            <option value="4"> 4 </option>
                                                            <option value="5"> 5 </option>
                                                            <option value="6"> 6 </option>
                                                            <option value="7"> 7 </option>
                                                            <option value="8"> 8 </option>
                                                            <option value="9"> 9 </option>
                                                            <option value="10"> 10 </option>
                                                        </select>
                                                    </span>
                                                </span>
                                               
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_20_custom_1002_2"
                                                        style="min-height:13px" aria-hidden="false"> Size </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q20_products[special_1002][item_2]"
                                                            id="input_20_custom_1002_2">
                                                            <option value="XS"> XS </option>
                                                            <option value="S"> S </option>
                                                            <option value="M"> M </option>
                                                            <option value="L"> L </option>
                                                            <option value="XL"> XL </option>
                                                            <option value="XXL"> XXL </option>
                                                            <option value="XXXL"> XXXL </option>
                                                        </select>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </span>
                                    <div class="p_item_separator ">
                                    </div>
                                    <span
                                        class="form-product-item hover-product-item  show_image show_desc show_option new_ui"
                                        categories="non-categorized" pid="1003" aria-labelledby="label_20">
                                        <div data-wrapper-react="true" class="form-product-item-detail new_ui">
                                            <div class="p_col">
                                                <div class="p_checkbox">
                                                    <input type="checkbox" class="form-checkbox  form-product-input"
                                                        id="input_20_1003" name="q20_products[][id]" value="1003" />
                                                    <div class="checked">
                                                    </div>
                                                    <div class="select_border">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="p_image">
                                                <div role="img" aria-label="Shoes"
                                                    class="image_area form-product-image-with-options"
                                                    style="background-image:url(&quot;https://www.jotform.com/uploads/utkuyildirim/form_files/Screen%20Shot%202020-12-08%20at%2011.01.35.png&quot;)">
                                                    <div class="image_zoom">
                                                    </div>
                                                </div>
                                            </div>
                                            <div for="input_20_1003" class="form-product-container">
                                                <span data-wrapper-react="true">
                                                    <div class="title_description">
                                                        <span class="form-product-name" id="product-name-input_20_1003">
                                                            Shoes
                                                        </span>
                                                        <span class="form-product-description"
                                                            id="product-name-description-input_20_1003">
                                                            Fabric Shoes with Gray Squares.
                                                        </span>
                                                    </div>
                                                    <span class="form-product-details">
                                                        <b>
                                                            <span data-wrapper-react="true">
                                                                $
                                                                <span id="input_20_1003_price">
                                                                    125.00
                                                                </span>
                                                            </span>
                                                        </b>
                                                    </span>
                                                </span>
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_20_quantity_1003_0"
                                                        style="min-height:13px" aria-hidden="false"> Quantity </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q20_products[special_1003][item_0]"
                                                            id="input_20_quantity_1003_0">
                                                            <option value="1"> 1 </option>
                                                            <option value="2"> 2 </option>
                                                            <option value="3"> 3 </option>
                                                            <option value="4"> 4 </option>
                                                            <option value="5"> 5 </option>
                                                            <option value="6"> 6 </option>
                                                            <option value="7"> 7 </option>
                                                            <option value="8"> 8 </option>
                                                            <option value="9"> 9 </option>
                                                            <option value="10"> 10 </option>
                                                        </select>
                                                    </span>
                                                </span>
                                                <span class="form-sub-label-container" style="vertical-align:top">
                                                    <label class="form-sub-label" for="input_20_custom_1003_1"
                                                        style="min-height:13px" aria-hidden="false"> Shoe Size </label>
                                                    <span class="select_cont">
                                                        <select class="form-dropdown"
                                                            name="q20_products[special_1003][item_1]"
                                                            id="input_20_custom_1003_1">
                                                            <option value="8"> 8 </option>
                                                            <option value="8.5"> 8.5 </option>
                                                            <option value="9"> 9 </option>
                                                            <option value="9.5"> 9.5 </option>
                                                            <option value="10"> 10 </option>
                                                            <option value="10.5"> 10.5 </option>
                                                            <option value="11"> 11 </option>
                                                            <option value="11.5"> 11.5 </option>
                                                            <option value="12"> 12 </option>
                                                            <option value="13"> 13 </option>
                                                            <option value="14"> 14 </option>
                                                        </select>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </span>
                                    <div class="payment_footer new_ui ">
                                        <div class="total_area">
                                            <div class="form-payment-total">
                                                <div id="total-text">
                                                    Total
                                                </div>
                                                <div class="form-payment-price">
                                                    <span data-wrapper-react="true">
                                                        $
                                                        <span id="payment_total">
                                                            0.00
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>
                </li>
                <li style="display:none">
                    Should be Empty:
                    <input type="text" name="website" value="" />
                </li>
            </ul>
    </form>
    </body>

</html>