<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <h2>{{head}}</h2>
            </div>
            
            <div class="col-md-3">
                <button class="btn btn-info" style="margin-top:5px;"> 
                    <a href="/product/add" style="color:#fcfcfc">Add new product</a>
                </button>
            </div>
            <div class="col-md-3">
                <form action="/product/search">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search"  name="q" aria-describedby="basic-addon1">
                </form>
            </div>
            
        </div>
        <div class="row" id="product-container">
            {{>products}}
        </div>
        <div class="row" style="display: flex; justify-content:center;">
            <ul id="pagination-demo" class="pagination-sm"></ul>
        </div>
    </section>
</section>
{{#section 'script'}}
<script>
    const page_cache=[];
    const max_page ={{{max_page}}}
    let curr_page = {{{page}}};
    const product_container = document.querySelector('#product-container');
    const a_pages = document.querySelectorAll('.page-link');
    a_pages.forEach(link=>{
        link.addEventListener('click',(e)=>{
            e.preventDefault();
            const ref = link.href||'';
            if(ref===''){
                return;
            }
            const path = ref.replace(/^.*\/\/[^\/]+/, '');
            const getPage = parseInt(path[path.length-1]);
            $('#product-container').fadeOut(500);
            setTimeout(function() {
                if(!page_cache[getPage]){
                    $.get('/api'+path,(data,status)=>{
                        if(status==='success'){
                            updateView(data);
                            changePage(getPage,path);
                            page_cache[curr_page] = data;
                        }
                        else{
                            console.log('error',data);
                        }
                    })
                }
                else{
                    updateView(page_cache[getPage])
                    changePage(getPage,path);
                }
            }, 450);
            
            
        })

    })

    function changePage(getPage,path){
        history.pushState('','',path);
        document.querySelector(`#page-${curr_page}`).setAttribute('href',`?page=${curr_page}`);
        curr_page = getPage;
        if(curr_page===1){
            document.querySelector('#page-previous').removeAttribute('href');
        }
        else{
            document.querySelector('#page-previous').setAttribute('href', `?page=${curr_page-1}`);
        }
        document.querySelector(`#page-${curr_page}`).removeAttribute('href')
        if(!document.querySelector(`#page-${curr_page+1}`)){
            document.querySelector('#page-next').removeAttribute('href');
        }
        else{
            document.querySelector('#page-next').setAttribute('href',`?page=${curr_page+1}`);
        }
    }

    function updateView(data){
        product_container.innerHTML=''
        data.forEach((pro)=>{
            const div = `<a href="/product/${pro.id}">
                <div class="col-md-3 col-sm-3 mb">
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>${pro.title}</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-xs-4">
                                <p>$ ${pro.price}</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <p>${pro.available} avai</p>
                            </div>
                            <div class="col-sm-4 col-xs-4">
                                <p>${pro.sold} sold</p>
                            </div>
                        </div>
                        <div class="centered">
                                <img src="${pro.image}" height="120">
                        </div>
                    </div>
                </div><!-- /col-md-4 -->
            </a>`;
            product_container.innerHTML+=div;
        });
        $('#product-container').fadeIn(500);
        
    }

    $('#pagination-demo').twbsPagination({
        totalPages: max_page,
        visiblePages: 2,
        startPage:curr_page,
        onPageClick: function (event, page) {
            const path  = window.location.pathname;
            $("HTML, BODY").animate({ scrollTop: $("#product-container").offset().top-100 }, 1000);
            $('#product-container').fadeOut(500);
            setTimeout(()=>{
                product_container.innerHTML=''
                if(!page_cache[page]){
                    $.get('/api'+path+`?page=${page}`,(data,status)=>{
                        if(status==='success'){
                            updateView(data);
                            history.pushState('','',path+`?page=${page}`);
                            page_cache[page] = data;
                        }
                        else{
                            console.log('error',data);
                        }
                    })
                }
                else{
                    updateView(page_cache[page])
                    history.pushState('','',path+`?page=${page}`);
                }
            },500)
        }
    })
</script>
{{/section}}