
<section id="main-content">
    <section class="wrapper">
        <div class="row">
            {{>stat}}

            
        </div><!-- /col-lg-9 END SECTION MIDDLE --> 
<!--RIGHT SIDEBAR CONTENT -->      
        {{>member}}
        <h1>Recent add Product</h1>
        <button><a href="/product/add">Add</a></button>
    </section>
    <section class="wrapper">
        <div class="row">
            {{>products}}
        </div>
    </section>
</section>

<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    <div class="text-center">
        2021-WeBu
        <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
