
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            {{>product_sidebar_left}}
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    {{>product_filter}}
                    <div class="row product-categorie-box">
                        {{>product_items}}
                    </div>
                    <div class="row justify-content-center">
                        <ul id="pagination-demo" class="pagination-sm"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
{{#section 'script'}}
<script>
    const maxPage = {{{max_page}}}
    const page_cache=[];
    let curr_page = {{{page}}}||1;
    const product_container = document.querySelector('#product-container');
    function updateView(data){
        data.forEach((pro)=>{
            const div = `<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="${pro.state}">${pro.state}</p>
                        </div>
                        <img src="${pro.image}" class="img-fluid" alt="Image" style="object-fit: scale-down;" height="330">
                        <div class="mask-icon">
                            <ul>
                                <li><a href="/product/${pro.id}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>
                            <a class="cart" href="./myaccount/cart">Add to Cart</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>${pro.title}</h4>
                        <h5> $${pro.price}</h5>
                    </div>
                </div>
            </div>`;
            product_container.innerHTML+=div;
        });
        $('#product-container').fadeIn(500);
        
    }


    $('#pagination-demo').twbsPagination({
        totalPages: maxPage,
        visiblePages: 2,
        startPage:curr_page,
        onPageClick: function (event, page) {
            const path  = window.location.pathname;
            $("HTML, BODY").animate({ scrollTop: $("#product-container").offset().top-100 }, 1000);
            $('#product-container').fadeOut(500);
            setTimeout(()=>{
                product_container.innerHTML=''
                if(!page_cache[page]){
                    $.get('/api'+path+`?page=${page}`,(data,status)=>{
                        if(status==='success'){
                            updateView(data);
                            history.pushState('','',path+`?page=${page}`);
                            page_cache[page] = data;
                        }
                        else{
                            console.log('error',data);
                        }
                    })
                }
                else{
                    updateView(page_cache[page])
                    history.pushState('','',path+`?page=${page}`);
                }
            },500)
        }
    })
</script>
{{/section}}